[submodule "src/cargo_beep"]
	path = src/cargo_beep
	url = https://github.com/Umich-NASA-Big-Idea-Challenge/cargo_beep.git
[submodule "src/beep_interfaces"]
	path = src/beep_interfaces
	url = https://github.com/Umich-NASA-Big-Idea-Challenge/beep_interfaces.git
